/* Library.css (Updated CSS file) */

.library {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.library-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.library-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    /* Set a fixed width for the cards */
    height: 500px;
    /* Set a fixed height for the cards */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    /* Stack image and details vertically */
    align-items: center;
    /* Center-align contents horizontally */
}

.image-container {
    width: 100%;
    max-width: 200px;
    /* Set the max width for image containers */
    margin: 0 auto;
}

.product-image {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-details {
    align-items: flex-end;
    flex: 1;
    /* Allow details to grow/shrink as needed within the card */
}

.product h3 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #333;
}

.product p {
    color: #555;
    font-size: 1rem;
    /* Set a consistent font size for descriptions */
}

/* Hover effect on product cards */
.library-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}