.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  color: white;
  position: fixed;
  top: 0;
  transition: 0.2s;
  
}

.Headermain {
  padding-bottom: 0px;
  margin-bottom: -25px;
}

.Navproduct {
  padding-top: 5px !important;
  margin-top: 0px !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Product {
  margin: 30px 50px 70px 50px;
  padding: 20px 20px 40px 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #023047;
  border: 2px solid #023047;
  border-radius: 10px;
  background-image: url("D:\VITA\Project\Frontend\project\public\Images\Productbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: 'rgba(0, 0, 0, 0.5)'!important;

}

.card-container {
  margin: 20px 20px;
  padding: 20px 20px 0px 20px;
  border: 1.5px solid #023047 !important;
  border-radius: 10px  !important;
  background: #d3f7f8;
  font-size: 0.05%;
}

.Cardimg {
  border-radius: 5px !important;
  border: 0px solid #023047 !important;
}

.homepage {
  margin: 30px 10px 0px 0px;
  padding: 0px 30px;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.LanguagePage {
  margin: 0px 50px 70px 50px;
}

.card-img-animation{
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
  height: 250px;
  width: 100%;
  border-radius: 5px !important;
}

.card-img-animation:hover {
  transform: scale(1.05);
}

.footer {
  background-color: rgb(211, 212, 212)  !important;
  width: 100%;
  bottom: 0;
  font-size: 16px;
}

.Search {
  margin: 10px 40px 30px 40px;
}

.contactus{
  margin: 20px 40px 60px 40px !important;
}

.aboutus {
  margin: 20px 40px 80px 40px !important;
}

.feedback-container {
  background: url("D:\VITA\Project\Frontend\project\public\Images\feedback.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding: 26px;
}

.feedback-card {
  width: 50rem;
  background-color: rgba(128, 128, 128, 0.7);
  border: 10pt;
  border-radius: 13pt;
}

.feedback-card-body {
  color: white;
}

.feedback-label {
  color: white;
}

.feedback-submit-button {
  display: flex;
  justify-content: center;
}

